
{% extends "base.html" %}

{% block title %}Admin - Mensajes{% endblock %}

{% block contenido %}

<a href="{{ url_for('logout') }}" class="btn btn-outline-secondary mb-3">Cerrar sesión</a>



<h1>Panel de administración</h1>
<p>Lista de todos los mensajes recibidos:</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Mensaje</th>
            <th>Fecha</th>  <!-- Nueva columna -->
        </tr>
    </thead>
    <tbody>
        {% for mensaje in mensajes %}
        <tr>
            <td>{{ mensaje.id }}</td>
            <td>{{ mensaje.nombre }}</td>
            <td>{{ mensaje.contenido }}
                <a href="{{ url_for('eliminar', id=mensaje.id) }}" class="btn btn-sm btn-danger ms-2">Eliminar</a>
                <td>{{ mensaje.fecha.strftime('%d/%m/%Y %H:%M') }}</td> <!-- Formato bonito para la fecha -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
